fastapi # استخدم إصدار محدد أو الأحدث
uvicorn  # استخدم إصدار محدد لتشغيل الخادم
python-dotenv # لقراءة .env محليا
langchain # استخدم إصدار محدد أو الأحدث
langchain-google-genai # استخدم إصدار محدد أو الأحدث
pydantic # استخدم إصدار محدد (مطلوب لـ FastAPI و Langchain)
json-repair==0.29.1 # استخدم إصدار محدد
openai
